.navbar{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(19, 19, 125);
  text-align: center;
  font-size: 30px;
  height: 30px;
  padding:20px
}
.home{
  text-decoration: none;
  font-size: 30px;
  color: aliceblue;
}
p{
  font-size: 30px;
  margin-top:60px;
  margin-left: 60px;
 
}
.btn1{
  border-radius:30px;
  position: absolute;
  right:190px;
  top:100px;
  height:48px;
  width:160px;
  font-weight: bolder;
}
h1{
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  margin-left: 180px;
 }
 table{
  margin-left: 180px;
  text-align: center;
  background-color: aliceblue;
  border-radius: 10px;
 
 }
 a{
  text-decoration: none;
 }
 .btn2{
  height:50px;
  width:250px;
  
  border-radius:30px;
  position: relative;
  top:200px;
  left:900px;
  font-size: 20px;
 
 }
 .btn3{
  height:50px;
  width:250px;
  font-size: 20px;
  border-radius:30px;
  position: relative;
  top:200px;
  left:800px;
 }
 th{
  padding: 20px;
 }
 input{
height:60px;
width:350px;
border:1px solid black
 }
 .box1{
  position: relative;
  top:105px;
  left:174px;
 }
 .box2{
  position: relative;
    top: 44px;
    left: 738px;
 }
 .box3{
  position: relative;
  top: 178px;
  left: 171px;
}
 
 .box4{
  position: relative;
  top: 118px;
  left: 726px;
  }
  .con1{
    position: relative;
    left: 221px;
    top: 64px;
  }
  .con2{
    position: relative;
    left: 768px;
}
  
  .con3{
    position: relative;
    left: 224px;
    top: 136px;
  }
  .con4{
    position: relative;
    left: 768px;
    top: 75px;
  }
